.container-small {
    width: 70%;
}

.Hero .hero-wrapper {
    justify-content: space-between;
    display: none;
    height: 90vh;
}

.Hero .img-wrapper {
    width: 120vh;
    height: 100%;
}

.Hero .hero-img {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.Hero .bg-img {
    background: url('../../Images/hero.png') rgba(0, 0, 0, 0.636);
    background-size: cover;
    background-blend-mode: multiply;
    height: calc(100vh - 65px);
}

.Hero .black {
    background: #000;
    width: 20rem;
    height: 100%;
    display: none;
}

/* --CIRCLE CARD-- */

.Hero .cricle-wrapper {
    position: relative;
    width: 100%;
}

.Hero .takeaway-img {
    display: none;
    width: 200px;
    margin: 0 auto;
}
.Hero .homedelivery-img{
    display: none;
    width: 150px;
    margin: 0 auto;
}

/* -- TEXT WRAPPER -- */

.Hero .info-wrapper {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Hero .title {
    color: var(--primary-clr);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.Hero .text-wrapper p {
    color: #fff;
}
/* -- btn -- */

.Hero button {
    width: 100%;
    color: #fff;
    margin-top: 2rem;
    font-weight: bold;
}
.Hero .btn-book-table{
    background: var(--primary-clr);
}
.Hero .btn-order-online {
    border: 3px solid #fff;
}
.Hero .btn-book-table:active{
    background: #bd6f02;
}

.Hero .btn-order-online:active{
    background: rgba(255, 255, 255, 0.351);
}

@media screen and (min-width: 992px) {
    
    .Hero .black {
        display: block;
    }

    .Hero .hero-wrapper {
        display: flex;
    }

    .Hero .hero-img {
        visibility: visible;
    }

    .Hero .circle {
        content: '';
        position: absolute;
        border-radius: 50%;
    }

    /* -- BOTH CIRCLES -- */
    .Hero .small-txt {
        margin-top: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .Hero .small-txt:hover {
        text-decoration: underline;
    }

    /* -- FLIP -- */

    .Hero .flip-card-takeaway {
        background: transparent;
        width: 350px;
        height: 350px;
        perspective: 1000px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 15rem;
        left: 9rem;
    }

    .Hero .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .Hero .flip-card-takeaway:hover .flip-card-inner {
        transform:  rotateY(-180deg);
    }

    .Hero .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .Hero .flip-card-front {
        background-color: var(--primary-clr);
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .Hero .flip-card-back {
        background-color: var(--primary-clr);
        color: #fff;
        transform: rotateY(-180deg);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* -- SMAL CIRCLE -- */
    
    .Hero .flip-card-delivery {
        background: #fff;
        width: 280px;
        height: 280px;
        perspective: 1000px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 30rem;
        right: 53rem;
        border: 5px solid #fff;
    }

    .Hero .flip-card-front-delivery {
        background: #000;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .Hero .flip-card-back-delivery {
        background-color: #000;
        color: #fff;
        transform: rotateY(-180deg);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .Hero .flip-card-front-delivery, .flip-card-back-delivery {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .Hero .flip-card-delivery:hover .flip-card-inner {
        transform:  rotateY(-180deg);
    }

    .Hero .txt-wrapper {
        padding: 1rem;
    }

    /* -- FLIP END -- */

    .Hero .homedelivery-img{
        display: flex;
        margin-top: 3.5rem;
    }
    .Hero .takeaway-img {
        display: flex;
        margin-top: 4rem;
    }

    .Hero .bg-img {
        background: none;
    }


}

@media screen and (min-width: 1280px) {

    /* .Hero .flip-card-delivery{
        top: 27rem;
        right: 46rem;
    } */
}
