.Navbar{
    display: flex;
    overflow: hidden;
}

.Navbar .logo-container {
    background-color: #000;
    width: 20rem;
    height: 20%;
}
.Navbar .logo {
    background-repeat: no-repeat;
    width: 100%;
}

/* -- Nav Links -- */

.Navbar .nav-wrapper {
    width: 100%;
}

.Navbar .nav-links-container {
    background-color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    padding: 0 2rem;
}

.Navbar .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--primary-clr);
    transition: 0.99s;
    transform: translateX(150vh);
}

.Navbar .responsive_nav {
    transform: none;
}

.Navbar .nav-links li {
    list-style: none;
}

.Navbar .link { 
    font-family: var(--header-font) ;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
}

.Navbar .home:active {
    color: #000;
}

/* -- Dropdown -- */

.Navbar .dropdown {
    width: 100%;
}

.Navbar .nav-links li {
    display: block;
    position: relative;
}
.Navbar .dropdown-content li {
    display: block;
}

.Navbar .dropdown-content {
    width: 180px;
    background: var(--primary-clr);
    background: #000;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.204);
    position: absolute;
    z-index: 999;
    padding-block: .5rem;
    display: none;
}


.Navbar .dropdown-link:hover {
    color: var(--primary-clr);
    background-color: rgb(0, 0, 0);
}

.Navbar .dropdown-link {
   display: block;
   color: #fff;
   padding: .5rem;
}

.Navbar .showDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    background: var(--primary-clr);
    padding-block: .5rem;
    text-align: center;
}

.Navbar .linkActive {
    color: #000;
}

/* -- Hamburger menu -- */
.Navbar .btn-container {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.Navbar .nav-btn {
    color: #fff;
    width: 1.7rem;
    height: 1.7rem;
    visibility: visible;
    opacity: 1;
}

.Navbar .nav-close-btn {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
}


@media screen and (min-width: 992px) {
    
    .Navbar .logo-container {
        background-color: #000;
        width: 20rem;
        height: 100vh; /* -- KOM IHÅG ATT ÄNDRA FRÅN VH --*/
    }

    .emty-div {
        width: 10%;
    }
    .Navbar .nav-links {
        align-items: center;
        flex-direction: row;
        position: inherit;
        transform: none;
        transition: none;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
    .Navbar .link {
        display: block;
        justify-content: inherit;
        align-items: inherit;
        padding-right: 2rem;
    }
    .Navbar .dropdown {
        width: auto;
    }

    .Navbar .nav-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .Navbar .nav-links-container {
        justify-content: space-between;
        width: 100%;
        box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.204);
    }

    .Navbar .nav-btn {
        visibility: hidden;
        opacity: 0;
    }

    .Navbar .dropdown:hover > .dropdown-content {
        display: block;
    } 

    .Navbar .showDropdown {
        display: none;
    }
}