.Navbar{
    display: flex;
}

.Navbar .logo-container {
    background-color: #000;
    width: 20rem;
    height: 20%;
}
.Navbar .logo {
    background-repeat: no-repeat;
    width: 100%;
}
/* -- Nav Links -- */
.Navbar .nav-links-container {
    background-color: var(--primary-clr);
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    justify-content: flex-end;
}

.Navbar .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--primary-clr);
    transition: 1s;
    transform: translateX(100vh);
}

.Navbar .responsive_nav {
    transform: none;
}

.Navbar .nav-links li {
    list-style: none;
}
.Navbar .nav-links .link {
    color: #fff;
    cursor: pointer;
}

.link { 
    font-family: var(--header-font) ;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.btn-booking{
    color: #fff;
    font-family: var(--header-font) ;
    font-size: 1.5rem;
}


/* -- Hamburger menu -- */
.Navbar .btn-container {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.Navbar .nav-btn {
    color: #fff;
    width: 1.7rem;
    height: 1.7rem;
    visibility: visible;
    opacity: 1;
}

.Navbar .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}


@media screen and (min-width: 992px) {

    .Navbar .nav-links {
        align-items: center;
        flex-direction: row;
        position: inherit;
        transform: none;
        transition: none;
       
    }
    .Navbar .nav-links-container {
        justify-content: space-between;
        height: 80px;
        padding: 0 2rem;
    }

    .Navbar .nav-btn {
        visibility: hidden;
        opacity: 0;
    }

}