.Navbar{
    display: flex;
}

.Navbar .logo {
    background-repeat: no-repeat;
    width: 100%;
}
.Navbar .logo-container {
    width: 20rem;
    height: 10rem;
    position: absolute;
    z-index: 1000;
    display: none;
}

/* --- */
@media screen and (min-width: 1160px) {
    .Navbar .logo-container {
        display: block;
    }
}