/* -- Nav Links -- */

.SmallNavbar .nav-wrapper {
    width: 100%;
    position: fixed;
}

.SmallNavbar .nav-links-container {
    background-color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    padding: 0 2rem;
}

.SmallNavbar .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--primary-clr);
    transition: 0.99s;
    transform: translateX(150vh);
}

.SmallNavbar .responsive_nav {
    transform: none;
}

.SmallNavbar .nav-links li {
    list-style: none;
}

.SmallNavbar .link { 
    font-family: var(--header-font) ;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
}

.SmallNavbar .home:active {
    color: #000;
}

/* -- Dropdown -- */

.SmallNavbar .dropdown {
    width: 100%;
}

.SmallNavbar .nav-links li {
    display: block;
    position: relative;
}
.SmallNavbar .dropdown-content li {
    display: block;
}

.SmallNavbar .dropdown-content {
    width: 180px;
    background: var(--primary-clr);
    background: #000;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.204);
    position: absolute;
    z-index: 999;
    padding-block: .5rem;
    display: none;
}


.SmallNavbar .dropdown-content .dropdown-link:hover {
    color: var(--primary-clr);
}

.SmallNavbar .dropdown-link {
   display: block;
   color: #fff;
   padding: .5rem;
}

.SmallNavbar .showDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    background: var(--primary-clr);
    padding-block: .5rem;
    text-align: center;
    z-index: 1001;
}
.SmallNavbar .showDropdown li .dropdown-link {
    color: #000;
}

.SmallNavbar .linkActive {
    color: #000;
}

/* -- Hamburger menu -- */
.SmallNavbar .btn-container {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.SmallNavbar .nav-btn {
    color: #fff;
    width: 1.7rem;
    height: 1.7rem;
    visibility: visible;
    opacity: 1;
}

.SmallNavbar .nav-close-btn {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
}

@media screen and (min-width: 992px) {
    .SmallNavbar .nav-wrapper {
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

}

@media screen and (min-width: 1043px) {

    .SmallNavbar .logo-container {
        background-color: #000;
        width: 20rem;
        height: 10rem;
    }

    .SmallNavbar .emty-div {
        width: 35%;
    }
    .SmallNavbar .nav-links {
        align-items: center;
        flex-direction: row;
        position: inherit;
        transform: none;
        transition: none;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
    .SmallNavbar .link {
        display: block;
        justify-content: inherit;
        align-items: inherit;
        padding-right: 2rem;
    }
    .SmallNavbar .dropdown {
        width: auto;
    }

    .SmallNavbar .nav-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .SmallNavbar .nav-links-container {
        justify-content: space-between;
        width: 100%;
        box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.204);
    }

    .SmallNavbar .nav-btn {
        visibility: hidden;
        opacity: 0;
    }

    .SmallNavbar .dropdown:hover > .dropdown-content {
        display: block;
    } 

    .SmallNavbar .showDropdown {
        display: none;
    }
}